//Import Global Rules
@use './layout/global-rules';

//Import Pages
@use './pages/contact';

// Global Variable
$alt-color: green;

// Import Variables
@use './variables/colors' as *;

// Import Mixins
@use './helpers/mixins' as *;

// Import Functions
@use './helpers/functions' as *;

.header {
    color: $alt-color;
}

.footer {
    $alt-color: black !global;
    background-color: $alt-color;
}

.footer {
    background-color: $alt-color;
}

.sidebar {
    background-color: $main;
}


$max_mobaile: "max-width: 767px";

@media ($max_mobaile) {
    .sidebar {
        padding: 20px;
    }
}

//////////////////////////////////////////////////////////////////////////

// Nesting & Parent Element

.parent {
    font-weight: bold;
    .child {
        font-size: 20px;
        .grand-child {
            font-size: 15px;
        }
    }
}

.parent-one, .parent-two {
    padding: 20px;
    .child {
        padding: 10px;
    }
}

.parent > {
    .child {
        font-size: 20px;
    }
    .test {
        font-weight: bold;
    }
}
.parent  {
    > .child {
        font-size: 20px;
    }
    .test {
        font-weight: bold;
    } 
    +
    p {
        font-size: 15px;
    }
}

.parent {
    > {
        .element-one {
            font-size: 10px;
        }
        .element-two {
            font-size: 10px;
        }
    }
    .not-direct-child {
        font-weight: 20px;
    }
}

.box {
    .title {
        font-size: 10px;
    }
    .description {
        font-size: 8px;
    }
    &.red {
        color: red;
    }
    &.green {
        color: green;
    }
    &:hover {
        background-color: #eee;
    }
    &:hover .title {
        font-weight: bold;
    }
    :not(&) {
        font-weight: normal;
    }
    [dir=rtl] & {
        direction: rtl;
    }
}


//////////////////////////////////////////////////////////////////////////

// Property Declarations and Placeholder

.box {
    font-size: 20px;
    font: {
        size: 15px;
        weight: bold;
    }
    padding: 10px;
    margin: auto {
        top: 10px;
        bottom: 15px
    };
}

//Placeholder
%main-box {
    background-color: white;
    padding: 15px;
    border: 3px solid #ccc;
    
}

.ads {
    @extend %main-box;
    font-size: 22px;
    color: green;
}

.article {
    @extend %main-box;
    font-size: 22px;
    color: green;
}

//////////////////////////////////////////////////////////////////////////

// Control Flow- if => and Else

$theme: 'light';

.page {
    @if $theme == 'light' {
        background-color: white;
        color: #444;
    } @else {
        background-color: #444;
        color: white;
    }
}

$rounded: false;
// $rounded: true;

.box {
    @extend %main-box;
    border-radius: if($rounded, 6px, null);
}

// practice on if and else if an else

$dirction: 'top';

.arrow-div {
    @extend %main-box;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    position: relative;
    margin: 50px auto;
    &::before {
        content: '';
        position: absolute;
        border: 20px solid transparent;
        @if $dirction == 'top' {
            top: -40px;
            left: 50%;
            transform: translateX(-50%);
            border-bottom-color: red ;
        } @else if $dirction == 'right' {
            right: -40px;
            top: 50%;
            transform: translateY(-50%);
            border-left-color: red ;
        } @else if $dirction == 'bottom' {
            bottom: -40px;
            left: 50%;
            transform: translateX(-50%);
            border-top-color: red ;
        } @else if $dirction == 'left' {
            left: -40px;
            top: 50%;
            transform: translateY(-50%);
            border-right-color: red ;
        } @else {
            @error "This Direction #{$dirction} is not Valid";
        }
    }
}

//////////////////////////////////////////////////////////////////////////

// Interpolation and functions

$companyOne: "ali";
$positionOne: "left";

.ad-#{$companyOne}-#{unique-id()} {
    font-size: 20px;
    background-image: url('imgs/#{$companyOne}.png');
    #{$positionOne}: 0;
}

$companyTwo: "basam";
$positionTwo: "right";

.ad-#{$companyTwo} {
    font-size: 20px;
    background-image: url('imgs/#{$companyTwo}.png');
    #{$positionTwo}: 1;
}

//////////////////////////////////////////////////////////////////////////

// Comments

// This Comment will not show in Css File

/* This Comment will show in CSS File but not in the Coprassed Mode */

/*! This Comment will show in CSS File and in the Coprassed Mode */

.box /* Multipla
Lines
Comment
*/{
    font-size: 20px; // inline Comment

}

/* This Comment Contains Interpolation => #{$companyOne} */

/// Function To Do test test test
/// 
/// @param {num}
/// The Number to Deal With
/// @return {int}


/////////////////////////////////////////////////////////////////////////////

// Mixin and include

ul.links {
    @include list-reset;
}

@mixin circle($dimensions) {
    border-radius: 50%;
    width:$dimensions ;
    height: $dimensions;
}

.circle-100 {
    @include circle(100px);
    background-color: red;
    color: white;
}
.circle-200 {
    @include circle(200px);
    background-color: red;
    color: white;
}

.center-circle {
    @include circle(400px);
    @include centering;
}

/////////////////////////////////////////////////////////////////////////////

// Loop => For

// @for $i from 1 to 10 // from 1 => 9
@for $i from 1 through 10 {
    .class-#{$i}{
        font-size: #{$i + 10px};
    }
}

$dimensions: 0;

@for $i from 1 through 10 {
    .circle-#{100 + $dimensions}{
        width: $dimensions + 100px;
        height: $dimensions + 100px;
    }
    $dimensions: $dimensions + 100
}

/////////////////////////////////////////////////////////////////////////////

// Each + Maps

$themes: red, green, blue;

@each $theme in $themes {
    .#{$theme}-theme {
        .product {
            background-color: white;
            border-bottom: 2px solid $theme; 
            .title {
                color: $theme;
                font-weight: bold;
            }
        }
    }
}

$socials: (
    "facebook": blue,
    "youtube": red,
    "github": black
);

@each $name, $color in $socials {
    .#{$name} {
        background-color: $color;
        color: white;
        &::before {
            content: $name;
        }
    }
}

$classes: 'one' 20px red, "two" 15px green, "three" 22px blue;

@each $class, $font, $color in $classes {
    .#{$class} {
        font-size: $font;
        background-color: $color;
        color: white;
        padding: $font / 2;
    }
}

/////////////////////////////////////////////////////////////////////////////

// Loop => While

$start: 1;

@while $start <= 10 {
    .width-#{$start} {
        width: $start * 100px;
        height: ($start * 100px) / 2;
    }
    $start: $start + 1;
}

/////////////////////////////////////////////////////////////////////////////

// create Frid System

$grid_cols: 12;

@for $i from 1 through $grid_cols {
    .col-#{$i} {
        width: percentage($i / $grid_cols);
    }
}

/////////////////////////////////////////////////////////////////////////////

// Function

$width: 200px;

.element {
    width: $width;
    height: half($width);
    top: calculate(100px, 200px, 50px);
}

/////////////////////////////////////////////////////////////////////////////

// Mixin Eith Content

.black-overlay {
    @include overlay(black, 0.5);
}

@mixin keyF($anim-name) {
    @-webkit-keyframes #{$anim-name} {
        @content;
    }

    @keyframes #{$anim-name} {
        @content;
    }
}

@include keyF(fade-in){
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@include keyF(go-up){
    from {
        bottom: 0;
    }
    to {
        bottom: 100px;
    }
}

/////////////////////////////////////////////////////////////////////////////

// If Condition + Mixin + Content

.media {
    @include breakpoints(mobile) {
        font-size: 15px;
    }
    @include breakpoints(small) {
        font-size: 18px;
    }
    @include breakpoints(medium) {
        font-size: 20px;
    }
    @include breakpoints(large) {
        font-size: 22px;
    }
}

/// Kurs Done!

